TestHubGatewayService/Service References/AlarmService/AlarmNotificationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TasmusNetasSwitch.Domain.DTO.SystemSwitches" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TasmusNetasSwitch.Domain.DTO.SystemSwitches" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SwitchSystemInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwitchId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SystemId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SwitchSystemInformation" nillable="true" type="tns:SwitchSystemInformation" />
  <xs:complexType name="NullSwitchSystemInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SwitchSystemInformation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NullSwitchSystemInformation" nillable="true" type="tns:NullSwitchSystemInformation" />
</xs:schema>