TestHubGatewayService/Service References/AlarmService/AlarmNotificationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="AlarmNotificationServiceNamespace" elementFormDefault="qualified" targetNamespace="AlarmNotificationServiceNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Siskon.HubGatewayService/AlarmNotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Siskon.Alarm.Domain.Model.HubInterfaces.DTO" />
  <xs:element name="PublishAlarmOccurred">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Siskon.Alarm.Domain.Model.HubInterfaces.DTO" minOccurs="0" name="activeAlarmDto" nillable="true" type="q1:ActiveAlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishAlarmOccurredResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishAlarmCleared">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Siskon.Alarm.Domain.Model.HubInterfaces.DTO" minOccurs="0" name="clearedAlarmDto" nillable="true" type="q2:ActiveAlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishAlarmClearedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishAlarmUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Siskon.Alarm.Domain.Model.HubInterfaces.DTO" minOccurs="0" name="updatedAlarmDto" nillable="true" type="q3:ActiveAlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishAlarmUpdatedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>