TestHubGatewayService/Service References/AlarmService/AlarmNotificationService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="DeviceNotificationServiceNamespace" elementFormDefault="qualified" targetNamespace="DeviceNotificationServiceNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Siskon.HubGatewayService/AlarmNotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Siskon.Device.Domain.Model.HubInterfaces.DTO" />
  <xs:element name="NodeAlarmStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Siskon.Device.Domain.Model.HubInterfaces.DTO" minOccurs="0" name="nodeAlarmStatusDto" nillable="true" type="q1:NodeAlarmStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeAlarmStatusChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShelterAlarmStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Siskon.Device.Domain.Model.HubInterfaces.DTO" minOccurs="0" name="shelterAlarmStatusDto" nillable="true" type="q2:ShelterAlarmStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShelterAlarmStatusChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceAlarmStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Siskon.Device.Domain.Model.HubInterfaces.DTO" minOccurs="0" name="deviceAlarmStatusDto" nillable="true" type="q3:DeviceAlarmStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceAlarmStatusChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceConnectionStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Siskon.Device.Domain.Model.HubInterfaces.DTO" minOccurs="0" name="deviceConnectionStatusDto" nillable="true" type="q4:DeviceConnectionStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceConnectionStatusChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceEnabilityStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Siskon.Device.Domain.Model.HubInterfaces.DTO" minOccurs="0" name="deviceEnabilityStatusDto" nillable="true" type="q5:DeviceEnabilityStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceEnabilityStatusChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>