TestHubGatewayService/Service References/AlarmService/AlarmNotificationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Siskon.Alarm.Domain.Model.HubInterfaces.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Siskon.Alarm.Domain.Model.HubInterfaces.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Siskon.HubGatewayService/AlarmNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ActiveAlarmDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlarmStatus" type="tns:AlarmStatus" />
      <xs:element minOccurs="0" name="ClearedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeElementId" type="xs:int" />
      <xs:element minOccurs="0" name="ProbableCauseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" type="tns:Severity" />
      <xs:element minOccurs="0" name="ShelterDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceElementId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeCode" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActiveAlarmDto" nillable="true" type="tns:ActiveAlarmDto" />
  <xs:simpleType name="AlarmStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="ClearedBySourceDisconnection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmStatus" nillable="true" type="tns:AlarmStatus" />
  <xs:simpleType name="Severity">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Critical" />
      <xs:enumeration value="Major" />
      <xs:enumeration value="Minor" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Information" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Severity" nillable="true" type="tns:Severity" />
</xs:schema>